* {
  box-sizing: border-box;
}

.delivers_list ul {
  list-style-type: square;
  background-color: black;
  color: white;
}

.delivers_list li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.delivers_list h1 {
  font-size: 22px;
}

@media screen and (min-width: 480px) {
  .delivers_list ul {
    list-style-type: square;
    background-color: black;
    color: white;
  }

  .delivers_list li {
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
  }

  .delivers_list h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 800px) {
  .delivers_list ul {
    list-style-type: square;
    background-color: black;
    color: white;
  }

  .delivers_list li {
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }

  .delivers_list h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .delivers_list ul {
    list-style-type: square;
    background-color: black;
    color: white;
  }

  .delivers_list li {
    margin-bottom: 15px;
    font-size: 22px;
    cursor: pointer;
  }

  .delivers_list h1 {
    font-size: 50px;
  }
}
