* {
  box-sizing: border-box;
}

body,
html {
}

.landingPage {
  text-align: center;
}

.landingPage h1 {
  margin: auto;
}

.btnRequests {
  margin: auto !important;
  height: 30px;
  font-size: 12px;
  border: 2px solid white;
  width: 80px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btnDelivers {
  height: 40px;
  width: 90px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.truck {
  margin-top: 30px;
  max-width: 50%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .landingPage {
    text-align: center;
  }

  .landingPage h1 {
    margin: auto;
  }

  .btnRequests {
    margin: auto !important;
    height: 45px;
    border: 2px solid white;
    width: 100px;
    font-size: 14px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .btnDelivers {
    height: 45px;
    width: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .truck {
    margin-top: 30px;
    max-width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .landingPage {
    text-align: center;
  }

  .landingPage h1 {
    margin: auto;
  }

  .btnRequests {
    margin: auto !important;
    height: 45px;
    border: 2px solid white;
    width: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .btnDelivers {
    height: 60px;
    width: 110px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .truck {
    margin-top: 30px;
    max-width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 1600px) {
  .landingPage {
    text-align: center;
  }

  .landingPage h1 {
    margin: auto;
  }

  .btnRequests {
    margin: auto !important;
    height: 45px;
    border: 2px solid white;
    width: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .btnDelivers {
    height: 70px;
    width: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .truck {
    margin-top: 30px;
    max-width: 50%;
    height: auto;
  }
}
