* {
  box-sizing: border-box;
}

.Historic {
  width: 95%;
  margin: auto;
}

.order_list ul {
  list-style-type: square;
  background-color: black;
  color: white;
}

.order_list li {
  margin-bottom: 15px;
  font-size: 16px;
}
