* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin-top: 0;
  font-family: 'Courier New';
}

h1 {
  margin-left: 25px;
}

label[for='phone'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='Name'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='delivered'] {
  width: 180px;
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='Street'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='PostCod'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='Date'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='bottle'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='Obs'] {
  text-align: left;
  color: black;
  font-size: 20px;
}

label[for='delivered'] {
  width: 110px;
  text-align: left;
  color: black;
  font-size: 20px;
}

#check {
  width: 25px;
  height: 25px;
}

#phone {
  border: 2px solid black;
  margin: 10px;
}

#Name {
  border: 2px solid black;
  margin: 10px;
  max-width: 90%;
}

#Street {
  border: 2px solid black;
  margin: 10px;
  max-width: 90%;
}

#PostCod {
  border: 2px solid black;
  margin: 10px;
}

#Date {
  border: 2px solid black;
  margin-left: 5px;
  margin-bottom: 10px;
}

#Bottle {
  border: 2px solid black;
  margin-left: 5px;
  margin-bottom: 10px;
}

textarea {
  border: 2px solid black;
  margin: 10px;
  max-width: 90%;
}

button {
  border: 2px solid black;
  margin-left: 10px;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  .editOrder {
    margin-left: 15px;
  }

  h1 {
    margin-top: 80px;
    font-size: 50px;
  }

  label {
    width: 95px;
  }

  label[for='phone'] {
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 24px;
  }

  label[for='delivered'] {
    width: 180px;
    text-align: left;
    color: black;
    font-size: 24px;
  }

  label[for='Name'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 24px;
  }

  label[for='Street'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 24px;
  }

  label[for='PostCod'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 24px;
  }

  label[for='Date'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 24px;
  }

  label[for='bottle'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 24px;
  }

  label[for='Obs'] {
    text-align: left;
    color: black;
    font-size: 24px;
  }

  #phone {
    border: 2px solid black;
    margin: 10px;
  }

  label[for='delivered'] {
    width: 120px;
    text-align: left;
    color: black;
    font-size: 23px;
  }

  #check {
    width: 25px;
    height: 25px;
  }

  #Name {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
  }

  #Street {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
  }

  #PostCod {
    border: 2px solid black;
    margin: 10px;
  }

  #Date {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  #Bottle {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  textarea {
    border: 2px solid black;
    margin: 10px;
    width: 330px;
  }

  button {
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 800px) {
  .orderEdit {
    width: 490px;
    margin: auto !important;
  }

  .editOrder h1 {
    margin-top: 70px !important;
    width: 100%;
    text-align: center;
    font-size: 60px;
  }

  label {
    width: 90px;
  }

  label[for='phone'] {
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 24px;
  }

  label[for='Name'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 23px;
  }
  label[for='delivered'] {
    width: 180px;
    text-align: left;
    color: black;
    font-size: 23px;
  }

  label[for='Street'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 23px;
  }

  label[for='PostCod'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 23px;
  }

  label[for='Date'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 23px;
  }

  label[for='bottle'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 23px;
  }

  label[for='Obs'] {
    text-align: left;
    color: black;
    font-size: 23px;
  }

  label[for='delivered'] {
    width: 130px;
    text-align: left;
    color: black;
    font-size: 23px;
  }

  #check {
    width: 25px;
    height: 25px;
  }

  #phone {
    border: 2px solid black;
    margin: 10px;
  }

  #Name {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
  }

  #Street {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
  }

  #PostCod {
    border: 2px solid black;
    margin: 10px;
  }

  #Date {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  #Bottle {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  textarea {
    border: 2px solid black;
    margin: 10px;
    width: 330px;
  }

  button {
    border: 2px solid black;
    margin-left: 10px;
    height: 25px;
    width: 70px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .orderEdit {
    width: 490px;
    margin: auto !important;
  }

  .editOrder h1 {
    margin-top: 70px !important;
    width: 100%;
    text-align: center;
    font-size: 60px;
  }

  label {
    width: 110px;
  }

  label[for='phone'] {
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 28px;
  }

  label[for='Name'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 28px;
  }

  label[for='Street'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 27px;
  }

  label[for='PostCod'] {
    text-align: left;
    display: inline-block;
    color: black;
    font-size: 28px;
  }

  label[for='Date'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 28px;
  }

  label[for='bottle'] {
    text-align: left;
    color: black;
    display: inline-block;
    font-size: 28px;
  }

  label[for='Obs'] {
    text-align: left;
    color: black;
    font-size: 28px;
  }

  label[for='delivered'] {
    width: 150px;
    text-align: left;
    color: black;
    font-size: 28px;
  }

  #check {
    width: 25px;
    height: 25px;
    margin-top: 15px;
  }

  #phone {
    border: 2px solid black;
    margin: 10px;
    height: 30px;
  }

  #Name {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
    height: 30px;
  }

  #Street {
    border: 2px solid black;
    margin: 10px;
    width: 350px;
    height: 30px;
  }

  #PostCod {
    border: 2px solid black;
    margin: 10px;
    height: 30px;
  }

  #Date {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
  }

  #Bottle {
    border: 2px solid black;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
  }

  textarea {
    border: 2px solid black;
    margin: 10px;
    width: 330px;
  }

  button {
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 15px;
    height: 30px;
    width: 75px;
    margin-top: 15px;
  }
}
